body {
  margin: 0;
  background-image: url("./john-fowler-7Ym9rpYtSdA-unsplash.jpeg");
  background-position: center;
}
.card-body {
  display: flex;
  justify-content: space-around;
}
#p {
  display: flex;
}
#Text {
  margin-left: 15px;
  color: black;
}
